<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <div class="banner">
    <h2>Pica Pau</h2>
    <div class="info-banner">
      <p>1940 &nbsp;&nbsp; L &nbsp;&nbsp; 6m</p>
      <ion-button color="secondary" sinze="small">Animacao</ion-button>
      <ion-button color="warning" sinze="small">Kids</ion-button>   
      <ion-button color="danger" sinze="small">Comedia</ion-button>   

    </div>
  </div>

  <div>
    <div>
      <ion-item color="danger">
      <div>
        <h2>Sinopse</h2>
        <p>Os personagens mais marcantes dos desenhos animados, o Pica-pau foi criado por Walter Lantz na década de 1940. Seu criador começou a trabalhar profissionalmente como desenhista em 1929, e pouco tempo depois já estava empregado na Universal. O Pica-pau é um personagem esperto, falante e atrevido e que tem como principal marca uma gritante gargalhada, obra do excepcional dublador Mel Blanc.</p>
      </div>
      </ion-item>
    </div>
  </div>
</ion-content>