.banner{
    position: relative;
    background: url('https://image.tmdb.org/t/p/w533_and_h300_bestv2/bZGs5YIWTnscuaxuFeMmeKCnrw8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    padding: 15px;
}