<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <div class="banner">
    <h2>Pernalonga</h2>
    <div class="info-banner">
      <p>1960 &nbsp;&nbsp; L &nbsp;&nbsp; 25m</p>
      <ion-button color="warning" sinze="small">Animacao</ion-button>
      <ion-button color="medium" sinze="small">Comedia</ion-button>   

    </div>
  </div>

  <div>
    <div>
      <ion-item color="danger">
      <div>
        <h2>Sinopse</h2>
        <p>Pernalonga, o famoso coelho animado, apresenta seu programa semanal junto aos seus amigos astros da Warner Brothers, como Patolino, Gaguinho, Hortelino Troca-Letras, Eufrazino, o Diabo da Tasmânia, Piu-Piu, Frajola, Papa-Léguas, Wile E. Coiote, Pepe Le Pew, Frangolino e Ligeirinho. Cada episódio acompanha três dos personagens, geralmente apresentados por Pernalonga, e gira em torno de um tema.</p>
      </div>
      </ion-item>
    </div>
  </div>
</ion-content>