.banner{
    position: relative;
    background: url('https://image.tmdb.org/t/p/w220_and_h330_face/77qrHVNJKgLQmMVQ1AdLtia726b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    padding: 15px;
}