<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <ion-button color="primary" sinze="small">2020</ion-button> <ion-button color="tertiary" sinze="small">1h 31m</ion-button>
      <ion-button color="warning" sinze="small">Drama</ion-button> <ion-button color="secondary" sinze="small">Suspense</ion-button>
      <ion-button color="danger" sinze="small">NR</ion-button>
    </div>
  </div>

  <div>
    <div>
      <ion-item color="dark">
        <div>
          <h2>Sinopse</h2>
          <p>Um thriller de suspense distorcido sobre uma adolescente manipuladora que convence seu pai viúvo / alcoólatra / super protetor que o garoto que ela convidou para sair e a estuprou, quando na verdade ele recusou seus avanços. Mas nenhuma quantidade de fatos pode convencer esse pai enfurecido. Ninguém machuca a garota do papai.</p>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>