<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Trolls2</h2>
      <p>2020 &nbsp;&nbsp; SG &nbsp;&nbsp; 1h 31m</p>
      <ion-button color="success" sinze="small">Animacao</ion-button>
      <ion-button color="warning" sinze="small">Aventura</ion-button>
      <ion-button color="medium" sinze="small">Comedia</ion-button>
      <ion-button color="light" sinze="small">Fantasia</ion-button>
      <ion-button color="primary" sinze="small">Aventura</ion-button>
    </div>
  </div>

  <div>
    <div>
      <ion-item color="dark">
        <div>
          <h2>Sinopse</h2>
          <p>há outros mundos Troll além do seu, e suas diferenças criam grandes confrontos entre essas diversas tribos.
            Quando uma ameaça misteriosa coloca todos os Trolls do país em perigo, Poppy, Branch e seu grupo de amigos
            devem
            embarcar em uma jornada épica para criar harmonia entre os Trolls rivais e uní-los contra um mal maior.</p>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>