.banner{
    position: relative;
    background: url('https://image.tmdb.org/t/p/w533_and_h300_bestv2/yqKgsu92k1EmW9u9rT5cpX1jKwv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
    padding: 15px;
}
