<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <div class="banner">
    <div class="info-banner">
      <ion-button color="primary" sinze="small">2015</ion-button>
      <ion-button color="secondary" sinze="small">TV-PG</ion-button>
      <ion-button color="danger" sinze="small">Comedia</ion-button> 
      <ion-button color="light" sinze="small">Fantasia</ion-button>
      <ion-button color="warning" sinze="small">Animacao</ion-button>
      
    </div>
  </div>

  <div>
    <div>
      <ion-item color="danger">
      <div>
        <h2>Sinopse</h2>
        <p>Os Ursinhos Carinhosos são uma família de ursos de pelúcia que vivem na Nuvem Rosa. Eles trocam sentimentos bons e ajudam a proteger a Terra de seres do mal, como o vilão Coração Gelado.</p>
      </div>
      </ion-item>
    </div>
  </div>
</ion-content>