<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Prison Break</h2>
      <p>2005 &nbsp;&nbsp; 14 &nbsp;&nbsp; 45m</p>
      <ion-button color="tertiary" sinze="small">Acao</ion-button>
      <ion-button color="warning" sinze="small">Aventura</ion-button>
      <ion-button color="medium" sinze="small">Drama</ion-button>
      <ion-button color="dark" sinze="small">Crime</ion-button>
    </div>
  </div>

  <div>
    <div>
      <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Michael Scofield é um homem desesperado numa situação desesperadora. Seu irmão, Lincoln Burrows, está no corredor da morte e será executado em alguns meses, após ser condenado por um assassinato que Michael está convencido que Lincoln não cometeu. Sem outras opções e com o tempo diminuindo, Michael assalta um banco para que ele seja preso e levado para a penitenciária estadual Fox River, o mesmo local onde seu irmão está cumprindo pena. Uma vez lá dentro, Michael um engenheiro civil com as plantas da prisão começa a executar um elaborado plano para libertar Lincoln e provar a inocência dele.</p>
      </div>
      </ion-item>
    </div>
  </div>
</ion-content>