<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Blood And Money</h2>
      <p>2020 &nbsp;&nbsp; 14 &nbsp;&nbsp; 1h 33m</p>
      <ion-button color="danger" sinze="small"></ion-button> <ion-button color="warning" sinze="small"></ion-button>
    </div>
  </div>

  <div>
    <div>
      <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Uma caça veterana aposentada no interior de Allagash, no Maine, descobre uma mulher morta com uma mochila cheia de dinheiro. Ele logo se encontra em uma rede de engano e assassinato.</p>
      </div>
      </ion-item>
    </div>
  </div>
</ion-content>