<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Series
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header routerLink="/flash">
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Flash <span>(2014)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-PG</span> <span class="duracao">44m</span>
        <p>Drama, Sci-fi & Fantasy</p>
      </div>
    </ion-item>
    <ion-item color="dark">
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header routerLink="/greys-anatomy">
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/jnsvc7gCKocXnrTXF6p03cICTWb.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Grey's Anatomy <span>(2005)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span> <span class="duracao">43m</span>
        <p>Drama</p>
      </div>
    </ion-item>
    <ion-item color="dark">
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header routerLink="/prison-break">
      <img src="https://image.tmdb.org/t/p/w94_and_h141_bestv2/h1QRyGuWVXM4Cr3FyPISSjMCBkA.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Prison Break <span>(2009)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-16</span> <span class="duracao">1h28m</span>
        <p>Drama, Acao, Thriller</p>
      </div>
    </ion-item>
    <ion-item color="dark">
    </ion-item>
  </ion-card>

</ion-content>