<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Gothan</h2>
      <p>2014 &nbsp;&nbsp; 16 &nbsp;&nbsp; 5 temporadas</p>
      <ion-button color="danger" sinze="small">ASSISTIR</ion-button>
      <ion-button fill="outline" color="light" sinze="small">EPISÓDIOS</ion-button>
    </div>
  </div>

  <ion-grid>

    <h1>Populares</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/wigZBAmNrIhxp2FNGOROUAeHvdh.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/5Z7AJiQhocA20MkI5JXZ6OjTxEW.jpg">
      </ion-col>
    </ion-row>

    <h1>Em cartaz</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/st4n0FALlo0twLkSqxAvU15SKvU.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/okaAPDmZdIfmE1I5DFxo6iHG5IR.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>