<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Ad Astra</h2>
      <p>2019 &nbsp;&nbsp; 16 &nbsp;&nbsp; 2h 3m</p>
      <ion-button color="danger" sinze="small">Ficcao Cientifica</ion-button> <ion-button color="warning" sinze="small">Drama</ion-button>
    </div>
  </div>

  <div>
    <div>
      <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Roy McBride é um engenheiro espacial, portador de um leve grau de autismo, que decide empreender a maior jornada de sua vida: viajar para o espaço, cruzar a galáxia e tentar descobrir o que aconteceu com seu pai, um astronauta que se perdeu há vinte anos atrás no caminho para Netuno.</p>
      </div>
      </ion-item>
    </div>
  </div>
</ion-content>