<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Flash</h2>
      <p>2014 &nbsp;&nbsp; TV-PG &nbsp;&nbsp; 44m </p>
      <ion-button color="danger" sinze="small">Ficcao Cientifica</ion-button> 
      <ion-button color="light" sinze="small">Drama</ion-button>
      <ion-button color="warning" sinze="small">Fantasia</ion-button>
    </div>
  </div>

  <div>
    <div>
      <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
      </div>
      </ion-item>
    </div>
  </div>
</ion-content>