<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <h2>Me Contro Te</h2>
    <div class="info-banner">
      <p>&nbsp;&nbsp; T &nbsp;&nbsp; 2h 1m</p>
      <ion-button color="danger" sinze="small">2020</ion-button>
      <ion-button color="secondary" sinze="small">Familia</ion-button>
      <ion-button color="light" sinze="small">Comedia</ion-button>

    </div>
  </div>

  <div>
    <div>
      <ion-item color="dark">
        <div>
          <h2>Sinopse</h2>
          <p>Lui e Sofi lutam contra o terrível Signor S mais uma vez, desta vez ele será revelado ao público !!!</p>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>