<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <div class="banner">
    <div class="info-banner">
      <p>1975 &nbsp;&nbsp; L &nbsp;&nbsp; 30m</p>
      <ion-button color="primary" sinze="small">Animacao</ion-button>
      <ion-button color="secondary" sinze="small">Kids</ion-button>
      <ion-button color="tertiary" sinze="small">Comedia</ion-button>

    </div>
  </div>

  <div>
    <div>
      <ion-item color="danger">
        <div>
          <h2>Sinopse</h2>
          <p>O centro da trama se baseia geralmente em tentativas frustradas de Tom de capturar Jerry, e o caos e a
            destruição que se segue.

            Tom raramente consegue capturar Jerry, principalmente por causa das habilidades do engenhoso ratinho, e
            também por causa de sua própria estupidez.

            As perseguições eram eletrizantes e sempre vinham acompanhados por boa trilha sonora.

            Também eram utilizadas diversas armadilhas e truques que no final não davam resultado satisfatório como
            bombas e ratoeiras, coisas que eram fundamentais na rivalidade entre o gato e o rato.

            Alguns personagens também marcam presença na trama como o bulldog Spike e o rival de Tom, o gato Butch.</p>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>