<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <ion-button color="primary" sinze="small">2005</ion-button>
      <ion-button color="warning" sinze="small">TV-14</ion-button>
      <ion-button color="secondary" sinze="small">43m</ion-button>
      <ion-button color="medium" sinze="small">Drama</ion-button>
    </div>
  </div>

  <div>
    <div>
      <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Os médicos do Grey Sloan Memorial Hospital lidam diariamente com casos e consequências de vida ou morte. É um no outro que eles encontram apoio, conforto, amizade e, às vezes, até mais que amizade... Juntos, eles descobrem o quanto a vida profissional e a pessoal podem ser complicadas e se misturarem no meio do caminho.</p>
      </div>
      </ion-item>
    </div>
  </div>
</ion-content>